{% extends 'myproject/master.html' %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->



<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->

        <div class="card mx-auto" style="max-width: 600px; margin-top:20px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Reset Password </h4>
          {% include 'myproject/message.html'%}
          <form method="POST" action="{% url 'resetpassword' %}">
              {% csrf_token %}
              <div class="form-group">
                Create Password:
              <input type="password" class="form-control" placeholder="Password" name="create_password">
            </div> <!-- form-group// -->
              <div class="form-group">
               Confirm Password:
              <input type="password" class="form-control" placeholder="Password" name="confirm_password">
            </div> <!-- form-group// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
   
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    


{% endblock %}